@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body{
    background-color: #F6F3EF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.box{
    background-color: #FFFFFC;
    border: 1px solid  #BBD0FF;
    width: 461px;
    height: 391px;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

h1{
    color: #1576D6;
    font-weight: 600px;
    font-size: 32px;
    line-height: 38.4px;
    text-align: center;
    margin-bottom: 35px;
}
label{
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: left;

}
input{
padding: 10px 16px 10px 16px;
gap: 10px;
border-radius: 12px;
border: 1px solid #6C757D;
opacity: 0px;
margin-top: 12px;
margin-bottom: 16px;

}
button{
padding: 12px 16px 12px 16px;
border-radius: 12px ;
opacity: 0px;
background-color: #25292C;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: center;
color: #FFFFFC;
margin-bottom: 16px;
}
p{
padding: 12px 16px 12px 16px;
border-radius: 12px;
border: 1px solid #F4C123;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: center;
color:#25292C;

}